@font-face {
  font-family: "Dx-Sitrus";
  src: url("DxSitrus-Expanded.452a7e9c.otf") format("opentype");
}
body {
  font-weight: 300;
}

.page {
  overflow: hidden;
  width: 100%;
  font-size: 0.5208333333vw;
}

main {
  z-index: -1;
  background-color: #000002;
}
main::before {
  animation: grain 8s steps(10) infinite;
  background-image: url(noise.0ae8f5d7.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 2.2;
  position: fixed;
  top: -100%;
  width: 300%;
  pointer-events: none;
}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.li a {
  color: whitesmoke;
}

.li .btn {
  color: whitesmoke;
}

@media (max-width: 1024px) {
  body .desktop {
    display: none;
  }
}
@media (max-width: 766px) {
  body .desktop {
    display: none;
  }
}

@media (max-width: 1919px) {
  body .mobile {
    display: none;
  }
}
@media (max-width: 1024px) {
  body .mobile {
    display: block;
  }
}
@media (max-width: 766px) {
  body .mobile {
    display: block;
  }
}

section {
  height: 100vh;
}

.img-wrap, .img-wrap-2 {
  display: flex;
}
@media (max-width: 1024px) {
  .img-wrap, .img-wrap-2 {
    display: block;
  }
}
@media (max-width: 766px) {
  .img-wrap, .img-wrap-2 {
    display: block;
  }
}

.bloc__txt {
  max-width: 700px;
  margin-left: 10vw;
  margin-right: 2vw;
  margin-top: 5vw;
}
@media (max-width: 1024px) {
  .bloc__txt {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
}
@media (max-width: 766px) {
  .bloc__txt {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }
}

.bloc__txt_2 {
  max-width: 700px;
  margin-right: 10vw;
  margin-top: 5vw;
}
@media (max-width: 1024px) {
  .bloc__txt_2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: -530px;
  }
}
@media (max-width: 766px) {
  .bloc__txt_2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    margin-top: -250px;
  }
}

.txt__title {
  font-family: "Dx-Sitrus";
  font-size: 8vw;
  font-weight: lighter;
  color: whitesmoke;
}
@media (max-width: 766px) {
  .txt__title {
    font-size: 12vw;
  }
}

.o-container {
  max-width: 95rem;
}

.o-title {
  perspective: 600px;
  -webkit-perspective: 600px;
}

.o-title_line {
  display: block;
  opacity: 0;
  /* transform-origin: center top; */
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 2.75s cubic-bezier(0.215, 0.61, 0.355, 1), transform 2.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.o-title.is-inview .o-title_line {
  transform: none;
  opacity: 1;
}

.o-title.is-inview .o-title_line:first-child {
  transition-delay: 0.6s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line:nth-child(2) {
  transition-delay: 0.5s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line:nth-child(3) {
  transition-delay: 0.6s;
}

.o-title.is-inview .o-title_line:nth-child(4) {
  transition-delay: 0.7s;
}

.o-title_line__2 {
  display: block;
  opacity: 0;
  /* transform-origin: center top; */
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 3.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 3.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.o-title.is-inview .o-title_line__2 {
  transform: none;
  opacity: 1;
}

.o-title.is-inview .o-title_line__2:first-child {
  transition-delay: 0.6s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line__2:nth-child(2) {
  transition-delay: 0.5s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line__2:nth-child(3) {
  transition-delay: 0.6s;
}

.o-title.is-inview .o-title_line__2:nth-child(4) {
  transition-delay: 0.7s;
}

.o-title_line__3 {
  display: block;
  opacity: 0;
  /* transform-origin: center top; */
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  transition: opacity 2.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 2.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.o-title.is-inview .o-title_line__3 {
  transform: none;
  opacity: 1;
}

.o-title.is-inview .o-title_line__3:first-child {
  transition-delay: 0.6s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line__3:nth-child(2) {
  transition-delay: 0.5s;
  margin-bottom: 0px;
}

.o-title.is-inview .o-title_line__3:nth-child(3) {
  transition-delay: 0.6s;
}

.o-title.is-inview .o-title_line__3:nth-child(4) {
  transition-delay: 0.7s;
}

.txt__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.35vw;
  color: whitesmoke;
  max-width: 600px;
  line-height: 0.7;
}
@media (max-width: 1024px) {
  .txt__paragraph {
    font-size: 1.75vw;
    line-height: 0.7;
  }
}
@media (max-width: 766px) {
  .txt__paragraph {
    font-size: 3.2vw;
    line-height: 0.9;
  }
}

.contact a {
  color: whitesmoke;
  text-decoration: none;
  display: table-caption;
}

.contact {
  font-family: "Dx-Sitrus";
  margin-top: 50px;
  font-size: 1.5vw;
  line-height: 0.3;
}
@media (max-width: 1024px) {
  .contact {
    font-size: 1.8vw;
    line-height: 0;
  }
}
@media (max-width: 766px) {
  .contact {
    font-size: 5vw;
    line-height: 0.1;
  }
}

.contact span {
  font-weight: bold;
  margin: 5px;
}

.insta, .youtube {
  margin-top: 5px;
}

.bottom {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.s_img {
  position: relative;
  overflow: hidden;
  max-height: 400px;
  max-width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  .s_img {
    max-width: 500px;
  }
}
@media (min-width: 1026px) and (max-width: 1920px) {
  .s_img {
    display: none;
  }
}

.wrap {
  max-height: 600px;
  width: 100%;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.wrap_2 {
  max-height: 600px;
  width: 100%;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
}

.content-inner {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.bottom__2 .btn {
  margin-top: 100px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  /* avoid pointer events on canvas */
  pointer-events: none;
}

.showcase-curtain {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 550px;
  height: 400px;
  margin-top: 5vw;
  z-index: 2;
}
@media (max-width: 1024px) {
  .showcase-curtain {
    display: none;
  }
}
@media (max-width: 766px) {
  .showcase-curtain {
    display: none;
  }
}

.showcase-2 {
  width: 550px;
  height: 350px;
  margin-left: 5vw;
  z-index: 2;
}
@media (max-width: 1024px) {
  .showcase-2 {
    max-width: 450px;
    max-height: 350px;
  }
}
@media (max-width: 766px) {
  .showcase-2 {
    max-width: 280px;
    max-height: 230px;
  }
}

.showcase-curtain img {
  display: none;
}

.websites-examples-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.website-example-item {
  flex-basis: 70%;
  overflow: hidden;
  box-sizing: border-box;
}

.website-example-cover {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.833%;
}

.website-example-cover img {
  opacity: 0;
}

.website-example-item {
  flex-basis: 70%;
  overflow: hidden;
  box-sizing: border-box;
}

/*** handling errors ***/
.no-curtains .website-example-cover img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
}

.no-curtains .showcase-curtain img {
  display: block;
}